body{
    font-family:Microsoft JhengHei;
    text-align:center;
    background-color: rgb(214, 243, 253);
}
.hhh1 {
    font-size: 50px;
}

.container {
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding: 75px;
}

img {
    width: 100%;
    padding: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: rgb(227, 238, 144);
    margin: 30px 80px 30px 80px;
}

a {
    text-decoration: none;
    color: rgb(165, 42, 85);
}

.hhh3 {
    font-size: 50px;
}

