body{
    background-image: url(https://media.discordapp.net/attachments/906713421083455519/979946205314449498/f2c60103644c603f.png?width=1019&height=573);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
h3 {
    line-height: 37px;
    text-align: center;
}
.btn{
    width:75px;
    height:30px;
    border:none;
    color:rgb(0, 0, 0);
    background-color:rgb(163, 247, 144);
    font-size:10px;
    border-radius: 10px;
    left:12%;
    transition:  0.5s ease-in;
    position: relative;
    z-index:1;
}
.btn:hover{
    cursor: pointer;
}

.btn:before{
    background-color:lightgreen;
    content:"";
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    transition: 0.5s all ease;
}
.btn:hover:before{
    transition: 0.5s all ease;
    left:0%;
    right:0%;
    z-index:-1;
    border-radius: 20px;

}